/* Header */
header {
  height: 10vh;
  width: calc(100vw - 48px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 768px) {
  header {
    width: calc(100vw - 128px);
  }
}
header h1 {
  color: var(--font-color);
  text-shadow: var(--text-shadow);
  font-size: 1rem;
  flex-grow: 1;
  max-width: 188px;
}

/* Party Button */
button.party-btn {
  padding: 4px 12px;
  max-width: 188px;
  border-radius: 20px;
  font-size: 1rem;
  color: var(--font-color);
  text-shadow: var(--text-shadow);
  border: 2px solid var(--black);
  transition: 0.4s;
  background-image: var(--gradient-button);
  background-size: 100% auto;
  animation: var(--gradient-animation);
}
body.party-mode button.party-btn {
  background-image: none;
  background-color: var(--twitch-purple);
  animation: none;
}
@media screen and (min-width: 768px) {
  button.party-btn {
    padding: 8px 16px;
    border-radius: 40px;
    font-size: 1rem;
  }
}

/* Dancers */
div.dancers {
  justify-self: center;
  display: none;
  gap: 4px;
  justify-content: space-around;
  width: 100%;
}
div.dancers.dancing {
  display: flex;
}
img.dancer {
  max-height: 40px;
  max-width: 40px;
}
@media screen and (min-width: 768px) {
  img.dancer {
    max-height: 60px;
    max-width: 60px;
  }
}
