.container {
  border: 2px solid black;
  width: calc(100vw - 48px);
  height: 85vh;
  overflow: hidden;
  position: relative;
  cursor: none;
}
@media screen and (min-width: 768px) {
  .container {
    width: calc(100vw - 128px);
  }
}
body.party-mode .container {
  max-height: calc(85vh - 40px);
}
img.hunter {
  position: absolute;
  z-index: 9;
  transform: translate(-50%, -50%);
  left: 32px;
  height: 64px;
}
img.target {
  position: absolute;
  z-index: 9;
  transform: translate(-50%, -50%);
  right: -50px;
  height: 64px;
  transition: 0.5s;
}
@media screen and (min-width: 768px) {
  img.hunter {
    left: 50px;
  }
  img.target {
    right: -36px;
  }
}
@media screen and (max-width: 460px) {
  img.hunter {
    transition: 0.2s;
  }
}
.area {
  min-height: 60px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.area.odd {
  background-color: var(--odd-area);
}
.area.even {
  background-color: var(--even-area);
}
@keyframes bullet {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(150vw);
  }
}
.bullet {
  animation: bullet 4s ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  /* min-height: 60px;
  min-width: 60px; */
  position: absolute;
  align-self: center;
  width: 100%;
  height: auto;
  max-width: 28px;
}

@media screen and (min-width: 768px) {
  img.hunter {
    height: 96px;
  }
  img.target {
    height: 96px;
  }
}
