/* CONTAINER */
.container {
  border: 2px solid black;
  border-radius: 0.4rem;
  width: calc(100vw - 48px);
  height: 85vh;
  overflow: hidden;
  position: relative;
  cursor: none;
}
@media screen and (min-width: 768px) {
  .container {
    width: calc(100vw - 128px);
  }
}
body.party-mode .container {
  max-height: calc(85vh - 60px);
}
/* Hunter and Target */
img.hunter {
  position: absolute;
  z-index: 9;
  transform: translate(-50%, -50%);
  left: 32px;
  height: 64px;
}
img.target {
  position: absolute;
  z-index: 9;
  transform: translate(-50%, -50%);
  right: -40px;
  height: 64px;
  transition: 0.5s;
}
@media screen and (min-width: 768px) {
  img.hunter {
    left: 50px;
    height: 96px;
  }
  img.target {
    right: -36px;
    height: 96px;
  }
}
@media screen and (max-width: 460px) {
  img.hunter {
    transition: 0.2s;
  }
}
.area {
  min-height: 60px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.area.odd {
  background-color: var(--odd-area);
}
.area.even {
  background-color: var(--even-area);
}
/* BULLETS STYLING */
@keyframes bullet {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(150vw);
  }
}
.bullet {
  animation: bullet 4s ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  min-height: 60px;
  min-width: 60px;
  position: absolute;
  align-self: center;
  align-items: center;
}
.bullet source,
.bullet img {
  width: 100%;
  height: auto;
}
/* hint */
div.hint-container {
  display: flex;
  align-items: center;
  align-self: flex-start;
  margin-left: 24px;
}
body.party-mode div.hint-container {
  display: none;
}
@media screen and (min-width: 768px) {
  div.hint-container {
    margin-left: 64px;
  }
}
p.hint {
  font-weight: thin;
  font-size: 0.75rem;
  margin: 4px 0px;
  color: var(--font-color);
  align-self: flex-start;
  display: inline-block;
}
