.container {
  border: 2px solid black;
  width: 90vw;
  height: 85vh;
  overflow: hidden;
  position: relative;
  cursor: none;
}
img.hunter {
  position: absolute;
  z-index: 9;
  transform: translate(-50%, -50%);
  left: 0px;
  max-height: 64px;
}
img.target {
  position: absolute;
  z-index: 9;
  transform: translate(-50%, -50%);
  right: -50px;
  max-height: 64px;
}
.area {
  min-height: 60px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.area.odd {
  background-color: var(--odd-area);
}
.area.even {
  background-color: var(--even-area);
}
@keyframes bullet {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(150vw);
  }
}
.bullet {
  animation: 4s ease-out;
  animation-name: bullet;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  min-height: 60px;
  min-width: 60px;
  position: absolute;
  align-self: center;
}

@media screen and (min-width: 430px) {
  img.hunter {
    max-height: none;
  }
  img.target {
    max-height: none;
  }
}
